<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kGaPropertyId</key>
	<string>UA-30717261-5</string>
	<key>kGaDispatchPeriod</key>
	<integer>20</integer>
	<key>kAllowTracking</key>
	<true/>
	<key>aboutUrl</key>
	<string>/glossary/about.php</string>
	<key>resourceLinks</key>
	<dict>
		<key>stackoverflow</key>
		<string>http://stackoverflow.com/tags/&lt;tag&gt;/info</string>
		<key>wikipedia</key>
		<string>http://en.m.wikipedia.org/wiki/&lt;tag&gt;</string>
		<key>quora</key>
		<string>http://www.quora.com/search?q=&lt;tag&gt;</string>
	</dict>
	<key>simplyHiredUrl</key>
	<string>http://www.simplyhired.com/salaries.html</string>
	<key>saladUrl</key>
	<string>/glossary/salad.json</string>
	<key>jobAgentUrl</key>
	<string>https://itunes.apple.com/us/app/job-agent/id517622797?mt=8</string>
	<key>trendsUrl</key>
	<string>/getsalaries?location=&lt;loc&gt;&amp;kw=&lt;kw&gt;</string>
	<key>jobsApiDomainDev</key>
	<string>http://localhost:8888</string>
	<key>jobsApiDomainProd</key>
	<string>http://brisksoft.herokuapp.com</string>
	<key>tagsUrl</key>
	<string>/glossary/getterms.php?tag=all</string>
	<key>apiDomainProd</key>
	<string>http://brisksoft.us</string>
	<key>apiDomainDev</key>
	<string>http://localhost/~brenden/BriskSoft</string>
	<key>termsUrl</key>
	<string>/glossary/getterms.php?tag=&lt;tag&gt;</string>
</dict>
</plist>
